* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}
html {
  background-color: #edefee;
  font-family: "Markazi Taxt", sans-serif;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-color: #a3d7bc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header img {
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  width: 30%;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}
nav ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
nav a:hover {
  box-sizing: content-box;
  animation: anim-border 0.6s ease-in-out forwards alternate;
}

nav li:hover a {
  color: #495e57;
}
@keyframes anim-border {
  20% {
    border-top: 1px solid rgba(44, 43, 43, 0.872);
    border-bottom: 1px solid rgba(44, 43, 43, 0.872);
  }
  100% {
    border-top: 1px solid rgba(44, 43, 43, 0.872);
    border-bottom: 1px solid rgba(44, 43, 43, 0.872);
    border-left: 1px solid rgba(44, 43, 43, 0.872);
    border-right: 1px solid rgba(44, 43, 43, 0.872);
  }
}

section {
  display: flex;
  align-items: center;
}
section:nth-child(1) {
  background-image: url(./img/w0565_1s_Cheerful-lemon-fruit-and-white-blossom-wallpaper-Lemon-Tart_Repeating-Pattern-Sample-1.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 70vh;
  position: relative;
}
section:nth-child(1)::before {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  position: absolute;
}
section:nth-child(1) h1 {
  font-size: 3rem;
  color: #202825;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
section:nth-child(1) p {
  font-style: italic;
  max-width: 600px;
  text-align: center;
  color: rgb(11, 45, 30);
  z-index: 1;
  font-weight: 600;
}
section:nth-child(2) {
  padding: 2rem;
  justify-content: space-around;
  position: relative;
}
section:nth-child(2) article {
  border: 4px solid #a3d7bccb;
  padding: 1rem;
  flex-basis: 270px;
  aspect-ratio: 1/0.9;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
section:nth-child(2) article:hover {
  scale: 1.1;
}
section:nth-child(2) article:first-of-type:hover {
  transform: skew(2deg, 0deg) translateX(8%);
}
section:nth-child(2) article:last-of-type:hover {
  transform: skew(-2deg, 0deg) translateX(-8%);
}
section:nth-child(2) article img {
  display: block;
  width: 30px;
  margin: 0 auto;
}
section:nth-child(2) article h2 {
  margin-top: 17px;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 3px solid #f4ce14;
}
section:nth-child(2) article p {
  margin-top: 10px;
  line-height: 27px;
}
.lemon-1 {
  position: absolute;
  width: 100px;
  top: -10%;
  left: 52%;
  rotate: 40deg;
}
.lemon-2 {
  position: absolute;
  width: 150px;
  bottom: -5%;
  left: 2%;
  rotate: 90deg;
}
.lemon-3 {
  position: absolute;
  width: 150px;
  bottom: 10%;
  right: 2%;
  rotate: 250deg;
}
.lemon-4 {
  position: absolute;
  width: 150px;
  bottom: -30%;
  left: 35%;
  rotate: 40deg;
}
footer {
  margin-top: 4rem;
  background-color: #a3d7bc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem 1.5rem;
  justify-content: space-evenly;
}

footer img {
  width: 70px;
}

@media only screen and (max-width: 996px) {
  section:nth-child(2) {
    flex-direction: column;
    gap: 1rem;
  }
  .lemon-1 {
    position: absolute;
    width: 100px;
    top: -3%;
    left: 52%;
    rotate: 40deg;
  }
  .lemon-2 {
    position: absolute;
    width: 150px;
    bottom: 25%;
    left: 5%;
    rotate: 90deg;
  }
  .lemon-3 {
    position: absolute;
    width: 150px;
    bottom: 50%;
    right: 5%;
    rotate: 250deg;
  }
  .lemon-4 {
    position: absolute;
    width: 150px;
    bottom: -10%;
    left: 25%;
    rotate: 40deg;
  }
  section:nth-child(2) article:first-of-type:hover {
    transform: skew(2deg, 0deg) translateX(3%);
  }
  section:nth-child(2) article:last-of-type:hover {
    transform: skew(-2deg, 0deg) translateX(-3%);
  }
}
