* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #edefee;
  font-family: "Markazi Taxt", sans-serif;
}
body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-color: #a3d7bc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header img {
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  width: 30%;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
nav ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
nav li {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
nav li:hover {
  box-sizing: content-box;
  animation: anim-border 0.6s ease-in-out forwards alternate;
}

nav li:hover a {
  color: #495e57;
}
@keyframes anim-border {
  20% {
    border-top: 1px solid rgba(44, 43, 43, 0.872);
    border-bottom: 1px solid rgba(44, 43, 43, 0.872);
  }
  100% {
    border-top: 1px solid rgba(44, 43, 43, 0.872);
    border-bottom: 1px solid rgba(44, 43, 43, 0.872);
    border-left: 1px solid rgba(44, 43, 43, 0.872);
    border-right: 1px solid rgba(44, 43, 43, 0.872);
  }
}

section {
  display: flex;
  align-items: center;
}
section:nth-child(1) {
  background-image: url(./img/w0565_1s_Cheerful-lemon-fruit-and-white-blossom-wallpaper-Lemon-Tart_Repeating-Pattern-Sample-1.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
  gap: 1rem;
  height: 70vh;
  position: relative;
}
section:nth-child(1)::before {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  position: absolute;
}
section:nth-child(1) h1 {
  margin-top: 13%;
  font-size: 3rem;
  color: #384642;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
section:nth-child(1) p {
  font-style: italic;
  width: 600px;
  text-align: center;
  color: rgb(11, 45, 30);
  z-index: 1;
  font-weight: 600;
}
img {
  width: 30px;
}
